.
.env 
NODE_MODULES
.DS_Store   
dist
.vscode
npm
-debug.log*
yarn
yarn-error.log*
.pnp.js
.pnp.loader.mjs
.idea
package-lock.json
yarn.lock
coverage
.cache
src/**/*.test.js
src/**/*.spec.js
src/**/*.test.jsx
src/**/*.spec.jsx
.env
